pipeline/PL_DATA_DE_MINI.json
{
	"name": "PL_DATA_DE_MINI",
	"properties": {
		"activities": [
			{
				"name": "FE_SERVER_TO_SNOWFLAKE",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LIST_TABLES_SQL_SERVER",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LIST_TABLES_SQL_SERVER').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CD_SERVER_TO_SNOWFLAKE",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "SELECT \n    CAST(REVENUE_TYPE AS INT) AS REVENUE_TYPE, \n    * \nFROM transactions;\n",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand"
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "linkedService_staging",
										"type": "LinkedServiceReference"
									},
									"path": "input"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "customer_id",
												"type": "Int16"
											},
											"sink": {
												"name": "CUSTOMER_ID",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "product_id",
												"type": "String"
											},
											"sink": {
												"name": "PRODUCT_ID",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "payment_month",
												"type": "DateTime"
											},
											"sink": {
												"name": "PAYMENT_MONTH",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "REVENUE_TYPE",
												"type": "Int32"
											},
											"sink": {
												"name": "REVENUE_TYPE",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "revenue",
												"type": "Double"
											},
											"sink": {
												"name": "REVENUE",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "quantity",
												"type": "Byte"
											},
											"sink": {
												"name": "QUANTITY",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "dimension_1",
												"type": "String"
											},
											"sink": {
												"name": "DIMENSION_1",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "dimension_2",
												"type": "String"
											},
											"sink": {
												"name": "DIMENSION_2",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "dimension_3",
												"type": "String"
											},
											"sink": {
												"name": "DIMENSION_3",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "dimension_4",
												"type": "String"
											},
											"sink": {
												"name": "DIMENSION_4",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "dimension_5",
												"type": "String"
											},
											"sink": {
												"name": "DIMENSION_5",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "dimension_6",
												"type": "String"
											},
											"sink": {
												"name": "DIMENSION_6",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "dimension_7",
												"type": "String"
											},
											"sink": {
												"name": "DIMENSION_7",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "dimension_8",
												"type": "String"
											},
											"sink": {
												"name": "DIMENSION_8",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "dimension_9",
												"type": "String"
											},
											"sink": {
												"name": "DIMENSION_9",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "dimension_10",
												"type": "String"
											},
											"sink": {
												"name": "DIMENSION_10",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "companies",
												"type": "String"
											},
											"sink": {
												"name": "COMPANIES",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "SqlServerTable1",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SnowflakeTable1",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "LIST_TABLES_SQL_SERVER",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT TABLE_NAME \nFROM INFORMATION_SCHEMA.TABLES \nWHERE TABLE_TYPE = 'BASE TABLE';\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable2",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-03-13T13:14:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}